aicsimageio==4.9.1
czifile==2019.7.2
matplotlib==3.1.2
natsort==8.3.1
numpy==1.17.4
opencv_contrib_python==4.5.5.62
openpyxl==3.1.2
scikit_image==0.18.3
scipy==1.10.1
varname==0.11.1
webcolors==1.12
Pillow==9.5.0
plantcv==3.14.2
pykuwahara==0.3.2
pytesseract==0.3.10
tensorflow==2.12.0
